header {
    background: white;
    padding: 10px;
}

header h1 {
    margin: 0;
}

body {
    background: lightgrey;
    margin: 0;
}

div {
    box-sizing: border-box;
}

div .post {
    background: white;
    margin-top: 10px;
    border-radius: 5px;
}

div.post img {
    width: 100%;
}

div.post-header div:first-child{
    display: inline-block;
    width: 80%;
}

div.post-header div:last-child {
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
    color: grey;
}

div.post h2, div.post p {
    padding: 10px;
    margin: 0;
}

div .container {
    width: 600px;
    margin: auto;
}

p, h2, h1{
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}


